---
const { className } = Astro.props;
---

<div class={className}>
  <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 232 158"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
  >
    <g>
      <g>
        <path
          d="M22.238,47.849c7.992,8.213 25.821,49.281 25.821,49.281c-0,-0 -5.849,30.153 -10.034,18.591c-6.32,-17.46 -35.288,-56.56 -37.919,-67.872c-1.672,-7.186 16.987,-5.288 22.132,-0Z"
          style="fill:url(#_Linear1);fill-rule:nonzero;"></path>
        <path
          d="M38.025,115.721c1.254,-6.929 10.034,-18.591 10.034,-18.591c-0,-0 17.812,-41.068 25.854,-49.281c5.222,-5.334 24.067,-7.275 22.394,-0c-2.612,11.361 -31.723,50.707 -38.067,68.167c-4.166,11.464 3.369,30.493 -0,36.592c-3.259,5.898 -16.976,5.909 -20.215,0c-3.369,-6.148 -1.672,-27.641 0,-36.887Z"
          style="fill:url(#_Linear2);fill-rule:nonzero;"></path>
      </g>
      <g>
        <g>
          <path
            d="M150.24,18.546l3.995,12.296l12.93,0l-10.46,7.6l3.995,12.297l-10.46,-7.6l-10.46,7.6l3.995,-12.297l-10.46,-7.6l12.93,0l3.995,-12.296Z"
            style="fill:#f2af0d;"></path>
          <path
            d="M150.24,18.546l3.995,12.296l4.9,0c-3.162,5.808 -7.981,9.754 -16.23,10.521l0.87,-2.921l-10.46,-7.6l12.93,0l3.995,-12.296Z"
            style="fill:#ffc230;"></path>
        </g>
        <g>
          <path
            d="M182.362,0l3.996,12.296l12.929,0l-10.46,7.6l3.995,12.297l-10.46,-7.6l-10.46,7.6l3.996,-12.297l-10.46,-7.6l12.929,0l3.995,-12.296Z"
            style="fill:#f2af0d;"></path>
          <path
            d="M182.362,0l3.996,12.296l4.899,0c-3.161,5.808 -7.981,9.754 -16.23,10.521l0.871,-2.921l-10.46,-7.6l12.929,0l3.995,-12.296Z"
            style="fill:#ffc230;"></path>
        </g>
        <g>
          <path
            d="M214.485,18.546l3.995,12.296l12.93,0l-10.46,7.6l3.995,12.297l-10.46,-7.6l-10.46,7.6l3.995,-12.297l-10.46,-7.6l12.93,0l3.995,-12.296Z"
            style="fill:#f2af0d;"></path>
          <path
            d="M214.485,18.546l3.995,12.296l4.9,0c-3.162,5.808 -7.982,9.754 -16.23,10.521l0.87,-2.921l-10.46,-7.6l12.93,0l3.995,-12.296Z"
            style="fill:#ffc230;"></path>
        </g>
        <g>
          <path
            d="M214.485,54.527l3.995,12.297l12.93,-0l-10.46,7.6l3.995,12.296l-10.46,-7.6l-10.46,7.6l3.995,-12.296l-10.46,-7.6l12.93,-0l3.995,-12.297Z"
            style="fill:#f2af0d;"></path>
          <path
            d="M214.485,54.527l3.995,12.297l4.9,-0c-3.162,5.807 -7.982,9.753 -16.23,10.52l0.87,-2.92l-10.46,-7.6l12.93,-0l3.995,-12.297Z"
            style="fill:#ffc230;"></path>
        </g>
        <g>
          <path
            d="M152.453,55.638l3.995,12.296l12.929,0l-10.46,7.6l3.996,12.296l-10.46,-7.599l-10.46,7.599l3.995,-12.296l-10.46,-7.6l12.929,0l3.996,-12.296Z"
            style="fill:#f2af0d;"></path>
          <path
            d="M152.453,55.638l3.995,12.296l4.9,0c-3.162,5.808 -7.982,9.754 -16.231,10.52l0.871,-2.92l-10.46,-7.6l12.929,0l3.996,-12.296Z"
            style="fill:#ffc230;"></path>
        </g>
      </g>
      <g>
        <path
          d="M136.398,152.608c-1.621,-4.029 29.65,-91.236 37.88,-104.649c3.725,-6.072 22.597,-7.017 21.372,0c-3.046,17.442 -29.774,87.208 -39.649,104.649c-3.219,5.686 -17.982,4.029 -19.603,0Z"
          style="fill:url(#_Linear3);fill-rule:nonzero;"></path>
        <path
          d="M117.974,47.959c8.278,13.413 28.299,80.477 28.299,80.477l-9.875,24.172c-0,0 -36.725,-87.207 -39.796,-104.649c-1.235,-7.016 17.63,-6.062 21.372,0Z"
          style="fill:url(#_Linear4);fill-rule:nonzero;"></path>
      </g>
      <g>
        <path
          d="M180.021,72.583l3.995,12.297l12.929,-0l-10.46,7.599l3.996,12.297l-10.46,-7.6l-10.46,7.6l3.995,-12.297l-10.46,-7.599l12.929,-0l3.996,-12.297Z"
          style="fill:#f2af0d;"></path>
        <path
          d="M180.021,72.583l3.995,12.297l4.899,-0c-3.161,5.807 -7.981,9.753 -16.23,10.52l0.871,-2.921l-10.46,-7.599l12.929,-0l3.996,-12.297Z"
          style="fill:#ffc230;"></path>
      </g>
    </g>
    <defs>
      <linearGradient
        id="_Linear1"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(36.5362,72.4821,-113.442,57.1828,10.5624,45.3992)"
      >
        <stop offset="0" style="stop-color:#0069ff;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#00327a;stop-opacity:1"></stop>
      </linearGradient>
      <linearGradient
        id="_Linear2"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(40.8033,-110.037,207.832,77.0666,46.6465,155.437)"
      >
        <stop offset="0" style="stop-color:#005de1;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#3085ff;stop-opacity:1"></stop>
      </linearGradient>
      <linearGradient
        id="_Linear3"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(35.2465,-107.209,189.349,62.2512,149.521,152.608)"
      >
        <stop offset="0" style="stop-color:#005de1;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#3085ff;stop-opacity:1"></stop>
      </linearGradient>
      <linearGradient
        id="_Linear4"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(39.429,102.575,-216.108,83.07,107.164,45.3992)"
      >
        <stop offset="0" style="stop-color:#0069ff;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#00409b;stop-opacity:1"></stop>
      </linearGradient>
    </defs>
  </svg>
</div>
