---
import qs from "qs";
import Container from "../../components/shared/Container.astro";
import Paragraph from "../../components/shared/Paragraph.astro";
import type Category from "../../interfaces/category";
import fetchApi from "../../lib/strapi";
import { astroI18n, l } from "astro-i18n";
import type Article from "../../interfaces/article";
import BlogCard from "../../components/cards/BlogCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import type SEOProps from "../../interfaces/seoProps";
import { SITE_URL } from "../../config";

const categories = await fetchApi<Category[]>({
  endpoint: "categories?locale=" + astroI18n.locale + "&",
  wrappedByKey: "data",
});

const query = qs.stringify({
  populate: {
    featuredImage: {
      fields: ["name", "width", "height", "url", "alternativeText"],
    },
    instagramPost: {
      populate: {
        images: {
          fields: ["url", "name", "width", "height", "alternativeText"],
        },
      },
    },
    category: "*",
    group: {
      populate: {
        authors: {
          populate: {
            bioImage: {
              fields: ["url", "name", "width", "height", "alternativeText"],
            },
          },
        },
      },
    },
  },
});

const articles = await fetchApi<Article[]>({
  endpoint: "articles?locale=all&",
  wrappedByKey: "data",
  query: query,
});

const seo: SEOProps = {
  title: "Blog",
  description: "Blog posts about european union, politics, and more.",
  image:
    "https://storage.googleapis.com/bucket.giyv.eu/German_Italian_Young_Voices_b79e2c9a55/German_Italian_Young_Voices_b79e2c9a55.png",
  nofollow: false,
  noindex: false,
  ogBasic: {
    title: "Blog",
    image:
      "https://storage.googleapis.com/bucket.giyv.eu/German_Italian_Young_Voices_b79e2c9a55/German_Italian_Young_Voices_b79e2c9a55.png",
    url: SITE_URL + "/" + l("blog"),
    type: "website",
  },
  ogOptional: {
    description: "Blog posts about european union, politics, and more.",
    locale: astroI18n.locale,
    localeAlternate: astroI18n.locales,
  },
  ogArticle: {},
  twitter: {
    title: "Blog",
    description: "Blog posts about european union, politics, and more.",
    image:
      "https://storage.googleapis.com/bucket.giyv.eu/German_Italian_Young_Voices_b79e2c9a55/German_Italian_Young_Voices_b79e2c9a55.png",
    card: "summary_large_image",
    site: "@giyv_eu",
  },
};
import indexing from "../../lib/indexing";
await indexing();
---

<BaseLayout {...seo}>
  <main class="flex flex-col gap-20 md:gap-32 overflow-hidden">
    <section class="pt-12 lg:pt-16">
      <Container className="flex flex-col gap-12">
        <div class="flex flex-col gap-4">
          <h1
            class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1"
          >
            Young Voices Blog
          </h1>
          <Paragraph className="md:w-1/2">
            Here we discuss the European Union, politics, and more. We also
            share our thoughts on the latest news and events. You can find all
            of our blog posts below.
          </Paragraph>
          <div id="search"></div>
          <script>
            window.addEventListener("DOMContentLoaded", (event) => {
              // @ts-ignore
              new PagefindUI({ element: "#search", showSubResults: true });
            });
          </script>
        </div>
        <hr class="border-gray-200 dark:border-gray-800" />
        {articles.map((article) => <BlogCard article={article} />)}
      </Container>
    </section>
  </main>
</BaseLayout>
