---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section class="relative mt-12 md:mt-16">
  <Container>
    <div class="text-center max-w-3xl mx-auto m-12">
      <Title>Ultimi dati sulle elezioni europee</Title>
    </div>
    <div
      class="mx-auto lg:mx-0 p-5 sm:p-6 py-6 sm:py-8 max-w-full rounded-3xl bg-box-bg border border-box-border shadow-lg shadow-box-shadow md:divide divide-box-border grid grid-cols-2 md:grid-cols-5 gap-4 sm:gap-8 md:gap-6 lg:gap-12 justify-center justify-items-center content-center items-center self-center"
    >
      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1"
        >
          06 - 09 giugno 2024
        </h2>
        <p class="mt-2 text-heading-3">Elezioni Europee</p>
      </div>

      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1"
        >
          64 / 36
        </h2>
        <p class="mt-2 text-heading-3">
          Uomini / Donne <br />Equilibrio di genere 🇩🇪
        </p>
      </div>

      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1"
        >
          59 / 41
        </h2>
        <p class="mt-2 text-heading-3">
          Uomini / Donne <br />Equilibrio di genere 🇮🇹
        </p>
      </div>

      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1"
        >
          61,38 %
        </h2>
        <p class="mt-2 text-heading-3">Affluenza 🇩🇪<br />(16/18-24 anni)</p>
      </div>

      <div class="text-center">
        <h2
          class="font-semibold text-xl sm:text-2xl md:text-4xl text-heading-1"
        >
          54,5 %
        </h2>
        <p class="mt-2 text-heading-3">Affluenza 🇮🇹<br />(16/18-24 anni)</p>
      </div>
    </div>
  </Container>
</section>
