---
import qs from "qs";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";

import { Image } from "astro:assets";
import fetchApi from "../../lib/strapi";
import type HeroSection from "../../interfaces/heroSection";
import { astroI18n, t } from "astro-i18n";
import BtnLink from "../shared/BtnLink.astro";

const query = qs.stringify({
  populate: {
    heroImage: {
      fields: ["name", "width", "height", "url", "alternativeText"],
    },
  },
});

const heroSection = await fetchApi<HeroSection>({
  endpoint: "hero-section?locale=" + astroI18n.locale + "&",
  wrappedByKey: "data",
  query: query,
});
---

<main class="pt-8 md:pt-16">
  <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
    <div
      class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
    >
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1"
      >
        <span
          class="text-transparent bg-clip-text bg-gradient-to-br from-blue-600 from-20% via-primary via-30% to-yellow-300"
          >EUROPA</span
        >: {heroSection.attributes.heroTitle}
      </h1>
      <Paragraph className="mt-8">
        {heroSection.attributes.heroDescription}
      </Paragraph>
      <BtnLink
        text={t("nav.participate")}
        href="https://www.instagram.com/giyv_eu/"
        className="flex justify-center w-full sm:w-max mt-10"
        variant="primary"
        target="_blank"
      />
    </div>

    <div
      class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl"
    >
      <Image
        src={heroSection.attributes.heroImage.data.attributes.url}
        alt={heroSection.attributes.heroImage.data.attributes.alternativeText ||
          "No alt provided"}
        width={720}
        height={480}
        loading={"eager"}
        class={"lg:w-full lg:h-full rounded-3xl object-cover aspect-ratio-3/2"}
      />
    </div>
  </Container>
</main>
