---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

import { Icon } from "astro-icon";
---

<section id="contenuti">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title>La nostra voce sui temi</Title>
      <Paragraph>
        Come gruppo abbiamo scelto questi temi, che ci hanno commosso di più.
        Apporfondisci o rinfresca la tua conoscenza per questi temi e facci
        sapere la tua oppoinone!
      </Paragraph>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      <Service
        title="Sostenibilità"
        description="Un tema che nei prossimi anni diventerà ancora più presente e prevalente."
      >
        <span slot="icon">
          <Icon
            name="mdi:leaf-circle-outline"
            className="w-6 h-6 fill-gray-600"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
          ></path>
        </span>
      </Service>
      <Service
        title="Digitalizzazione"
        description="Con l'intelligenza artificale alla porta, la digitalizzazione è un tema che ci riguarda tutti."
      >
        <span slot="icon">
          <Icon name="mdi:xml" className="w-6 h-6 fill-gray-600" />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
          ></path>
        </span>
      </Service>
      <Service
        title="Mercato del lavoro"
        description="Giovani europeei, si trovano a dover affrontare un mercato del lavoro in continua evoluzione."
      >
        <span slot="icon">
          <Icon
            name="mdi:briefcase-outline"
            className="w-6 h-6 fill-gray-600"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
          ></path>
        </span>
      </Service>
      <Service
        title="Coesione e inclusione sociale"
        description="La coesione e l'inclusione sociale sono fondamentali per i giovani europei. Garantiscono che tutti abbiano opportunità educative e lavorative, contribuendo alla stabilità e prosperità dell'UE."
      >
        <span slot="icon">
          <Icon name="mdi:hand-heart" className="w-6 h-6 fill-gray-600" />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
          ></path>
        </span>
      </Service>
      <Service
        title="Rapporto EU e stati membri"
        description="Sunt, ipsam, necessitatibus sint fugit officia laboriosam minima ab ullam at magni et. Quaerat, sint!"
      >
        <span slot="icon">
          <Icon
            name="mdi:account-group-outline"
            className="w-6 h-6 fill-gray-600"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
          ></path>
        </span>
      </Service>
      <Service
        title="Mobilità internazionale"
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti qui soluta cupiditate"
      >
        <span slot="icon">
          <Icon name="mdi:passport" className="w-6 h-6 fill-gray-600" />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
          ></path>
        </span>
      </Service>
      <Service
        title="Politica Estera e Cooperazione Internazionale"
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti qui soluta cupiditate"
      >
        <span slot="icon">
          <Icon
            name="mdi:handshake-outline"
            className="w-6 h-6 fill-gray-600"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
          ></path>
        </span>
      </Service>
      <Service
        title="Goivani e l'Europa"
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti qui soluta cupiditate"
      >
        <span slot="icon">
          <img src="/icons/europe.png" class="w-6 h-6" />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
          ></path>
        </span>
      </Service>
    </div>
  </Container>
</section>
