---
import Hero from "../components/sections/Hero.astro";
import Categories from "../components/sections/Categories.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import CTA from "../components/sections/CTA.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ByNumber from "../components/sections/ByNumber.astro";
import { astroI18n } from "astro-i18n";
import type SEOProps from "../interfaces/seoProps";
import { SITE_DESCRIPTION, SITE_TITLE, SITE_URL } from "../config";
const seo: SEOProps = {
  title: SITE_TITLE,
  description: SITE_DESCRIPTION,
  image: "/images/og_image.png",
  nofollow: false,
  noindex: false,
  ogBasic: {
    image: "/images/og_image.png",
    title: SITE_TITLE,
    type: "website",
    url: SITE_URL,
  },
  ogOptional: {
    description: SITE_DESCRIPTION,
    locale: astroI18n.locale,
    localeAlternate: astroI18n.locales,
  },
  ogArticle: {},
  twitter: {
    card: "summary_large_image",
    site: "@giyv_eu",
    image: "/images/og-image.png",
    imageAlt: SITE_TITLE,
    title: SITE_TITLE,
    description: SITE_DESCRIPTION,
  },
};
import LatestArticles from "../components/elements/LatestArticles.astro";
---

<BaseLayout {...seo}>
  <div class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <Hero />
    <LatestArticles />
    <ByNumber />
    <Categories />
    <AboutUs />
    <CTA />
  </div>
</BaseLayout>
