---
import Container from "../components/shared/Container.astro";
import type SEOProps from "../interfaces/seoProps";
import BaseLayout from "../layouts/BaseLayout.astro";

import { z } from "zod";

const contact_form = z.object({
  name: z.string().optional(),
  email: z.string().email(),
  message: z.string().max(500),
});

const seo: SEOProps = {
  title: "Kontakt",
  description: "Kontakt",
  image: "",
  noindex: false,
  nofollow: false,
  ogBasic: {
    title: "",
    image: "",
    type: "",
    url: "",
  },
  ogOptional: {
    audio: undefined,
    description: undefined,
    determiner: undefined,
    locale: undefined,
    localeAlternate: undefined,
    siteName: undefined,
    video: undefined,
  },
  ogArticle: {
    publishedTime: undefined,
    modifiedTime: undefined,
    expirationTime: undefined,
    author: undefined,
    section: undefined,
    tags: undefined,
  },
  twitter: {
    card: undefined,
    site: undefined,
    creator: undefined,
    title: undefined,
    image: undefined,
    imageAlt: undefined,
    description: undefined,
  },
};

const submitUrl = import.meta.env.STRAPI_URL + "/api/ezforms/submit/";
const recaptchatoken = import.meta.env.RECAPTCHA_SECRET;
---

<BaseLayout seo={seo}>
  <Container className="grid grid-col cols-1 gap-4 mt-12">
    <h1
      class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1"
    >
      Kontakt
    </h1>
    <script define:vars={{recaptchatoken}} src=`https://www.google.com/recaptcha/api.js?render=${recaptchatoken}`></script>
    <form
      name="contact"
      method="POST"
      class="grid grid-col cols-1 gap-4"
    >
      <label class="flex flex-col">
        <span class="text-heading-2 font-bold">Name</span>
        <input
          type="text"
          name="name"
          class="border border-gray-300 rounded-md p-2"
        />
      </label>
      <label class="flex flex-col">
        <span class="text-heading-2 font-bold">Email</span>
        <input
          type="email"
          name="email"
          class="border border-gray-300 rounded-md p-2"
        />
      </label>
      <label class="flex flex-col">
        <span class="text-heading-2 font-bold">Nachricht</span>
        <textarea name="message" class="border border-gray-300 rounded-md p-2"
        ></textarea>
      </label>
      <button class="g-recaptcha bg-primary text-white rounded-md p-2" 
        data-sitekey="reCAPTCHA_site_key" 
        data-callback='onSubmit' 
        data-action='submit'
        >Senden</button>
    </form>
    <script define:vars={{submitUrl, recaptchatoken}}>
      const form = document.querySelector("form");
      if (!form) {
        throw new Error("Form not found!");
      }
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        grecaptcha.ready(function() {
          grecaptcha.execute(recaptchatoken, {action: 'submit'}).then(function(token) {
            const formData = new FormData(form);
        fetch( submitUrl, {
          method: "POST",
          body: JSON.stringify({
            formData: Object.fromEntries(formData),
            token: token,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            if (data.success) {
              form.reset();
              alert("Nachricht erfolgreich gesendet!");
            } else {
              alert("Nachricht konnte nicht gesendet werden!");
            }
          })
          .catch((error) => {
            console.error(error);
            alert("Nachricht konnte nicht gesendet werden!");
          });
          });
        });
      });
    </script>
  </Container>
</BaseLayout>
