---
import { astroI18n, l, t } from "astro-i18n";
import { getI18nBlogArticles } from "../../lib/articleUtils";
import Container from "../shared/Container.astro";
import BlogCard from "../cards/BlogCard.astro";
import Paragraph from "../shared/Paragraph.astro";
import Search from "./Search.astro";
import Icon from "astro-icon";
import type Article from "../../interfaces/article";

// Get the 3 most recent articles
const articles = await getI18nBlogArticles(astroI18n.locale)
  .then((articles) => articles.slice(0, 3))
  .catch(() => {
    return [];
  });
---

<Container className={"flex flex-col  gap-10 lg:gap-12"}>
  <div class="text-center max-w-3xl mx-auto space-y-4">
    <h2 class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl">
      {t("latest_articles.latest_articles")}
    </h2>
    <Paragraph>
      {t("latest_articles.description")}
    </Paragraph>
    <Search />
  </div>
  <div
    class="flex flex-col lg:flex-row lg:justify-start lg:items-center lg:space-x-4 gap-4"
  >
    {
      articles.map((article: Article) => (
        <BlogCard
          article={article}
          className="lg:w-1/3 lg:flex-col"
          orientation="vertical"
        />
      ))
    }
    <a href={l("/blog")}>
      <div
        class="p-4 hover:shadow-xl hover:[scale-110] transition-all duration-300 ease-in-out rounded-full bg-gray-100 dark:bg-blue-600 cursor-pointer flex flex-row items-center justify-center space-x-2"
      >
        <Paragraph className="text-gray-500">
          {t("latest_articles.read_more")}
        </Paragraph>
        <Icon
          name="mdi:arrow-right "
          className="w-6 h-6 text-gray-500 dark:text-gray-300"
        />
      </div>
    </a>
  </div>
</Container>
