---
import BtnLink from "../shared/BtnLink.astro";
import Container from "../shared/Container.astro";
import Logo from "../shared/Logo.astro";
import ThemeSwitch from "./ThemeSwitch.astro";
import { l, t } from "astro-i18n";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const navItems = [
  {
    href: l("/wahlen"),
    text: t("nav.wahlen"),
  },
  {
    href: l("/blog"),
    text: t("nav.blog"),
  },
  {
    href: l("/ueber-uns"),
    text: t("nav.about"),
  },
  {
    href: l("/gruppen"),
    text: t("nav.groups"),
  },
  {
    href: l("/kontakt"),
    text: t("nav.contact"),
  },
];
---

<header class="max-w-screen-xl mx-auto py-8 z-50">
  <Container>
    <div class="flex flex-col lg:flex-row justify-between items-center">
      <Astronav closeOnClick>
        <div class="flex w-full lg:w-auto items-center justify-between">
          <a
            href={l("/")}
            class="relative flex items-center align-center gap-3"
          >
            <Logo className="w-16 h-auto" />
            <div class="inline-flex text-lg font-semibold text-heading-1">
              German-Italian<br />Young Voices
            </div>
          </a>
          <div class="block lg:hidden">
            <MenuIcon class="w-4 h-4 text-gray-800 dark:text-white" />
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
          <ul class="flex flex-col lg:flex-row lg:gap-3 mb:mt-4">
            {
              navItems.map((item) => {
                return (
                  <li>
                    <a
                      href={item.href}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100 "
                    >
                      <span class="font-medium"> {item.text}</span>
                    </a>
                  </li>
                );
              })
            }
          </ul>
          <div class="lg:hidden flex items-center mt-3 gap-4">
            <BtnLink
              text={t("nav.participate")}
              href="https://www.instagram.com/giyv_eu/"
              className="flex justify-center w-full sm:w-max"
              variant="primary"
            />
          </div>
        </MenuItems>
      </Astronav>
      <div class="hidden lg:flex items-center gap-4">
        <BtnLink
          text={t("nav.participate")}
          href="https://www.instagram.com/giyv_eu/"
          className="flex justify-center w-full sm:w-max"
          variant="primary"
          target="_blank"
        />
        <ThemeSwitch />
      </div>
    </div>
  </Container>
</header>
