---
import BaseHead from "../layouts/BaseHead.astro";

import Footer from "../components/elements/Footer.astro";
import Navbar from "../components/elements/Navbar.astro";
import Scripts from "./Scripts.astro";
import type SEOProps from "../interfaces/seoProps";

export interface Props extends SEOProps {}
const seo = Astro.props;
---

<!doctype html>
<html lang={seo?.ogOptional?.locale || "en"}>
  <head>
    <BaseHead {...seo} />
    <Scripts />
  </head>
  <body class="bg-body">
    <div class="progress" id="progress"></div>
    <script type="module" src="/cookieconsent-config.js"></script>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
